nav li {
	display: inline;
	text-transform: uppercase;
	text-decoration: none;
	margin: o, 25px o, 25px;
	padding: 5%;


}

 nav { 
	width:940px  ;

 }
 
 nav a {
	font-size: 35px;
	color: white ;
	font-weight: lighter;
 }

#banner {
	width: 100%;
} 
body {
	background: #000000;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Noto Sans Mono', monospace;
	text-align: center;
	font-size: larger 50px;
	color: white;
}

p {
	text-align: center;
	font-size: 30px;
	color: white;
}

li {
	font-size: 30px;
	color: white;
} 

#salao2 {
	width:50%;

}


